body,
html {
  height: 100%;
  margin: 0;
}

/*Input field content*/

.input-field {
  height: 40%;
  background: #455A64;
}

.main-header {
  margin: 0 0 15px 0;
  padding-top: 15px;
  text-align: center;
  color: #FFF;
}

input,
button {
  display: block;
  width: 288px;
  height: 20px;
  margin: 0 auto 10px auto;
  border: 0;
}

#enter-button {
  width: 290px;
  height: 22px;
  border: 0;
  background: #FFC107;
  color: #FFF;
}

/*Boomark field content*/

.bookmark-field {
  height: 60%;
  overflow: auto;
  background: #CFD8DC;
}

.bookmark-card {
  width: 90%;
  margin: 0 auto 20px auto;
  background: #FFF;
  border: 1px solid #607D8B;
}

.bookmark-title {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
}

.bookmark-content {
  margin: 0;
  border-bottom: 1px solid #F2F4F4;
  padding: 10px;
  color: #607D8B;
}

.buttons-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #CFD8DC;
}

.read-button,
.delete-button {
  background: none;
  width: initial;
  border-bottom: 1px solid #F2F4F4;
  padding: 0;
  color: #455A64;
}
