body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*Input field content*/

.input-field {
  height: 40%;
  background: #455A64;
}

.read-count {
  padding-top: 10px;
}

.read-count,
.unread-count,
.total-bookmarks {
  margin: 0;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  color: #FFF;
}

.main-header {
  margin: 0 0 15px 0;
  padding-top: 5px;
  text-align: center;
  font-size: 1.5em;
  color: #FFF;
}

.linked-list-logo {
  width: 38px;
  margin: 0 5px;
}

input,
button {
  display: block;
  width: 90%;
  max-width: 360px;
  height: 30px;
  margin: 0 auto 10px auto;
  padding: 0;
  border: 0;
}

#bookmark-title-input,
#bookmark-content-input {
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 1.4em;
}

#enter-button,
#clear-all-button {
  width: 92%;
  max-width: 365px;
  height: 30px;
  border: 0;
  font-size: 1.1em;
  font-weight: 800;
  background: #FFC107;
  color: #FFF;
  cursor: pointer;
}
#enter-button:hover {
  background: #FFD773;
}
#enter-button:disabled {
  background: #FFD773;
  cursor: default;
}

/*Boomark field content*/

.bookmark-field {
  height: 60%;
  overflow: auto;
  background: #CFD8DC;
}

.bookmark-card {
  width: 90%;
  max-width: 450px;
  margin: 20px auto 20px auto;
  background: #FFF;
  border: 1px solid #607D8B;
}

.bookmark-title {
  width: 85%;
  margin: 0 auto;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
  overflow: scroll;
}

.aTagWrapper {
  width: 85%;
  margin: 10px auto 10px  auto;
  overflow: scroll;
}

.bookmark-content {
  font-weight: 400;
  color: #607D8B;
  text-decoration: none;
}

.bookmark-content:hover,
.read-button:hover,
.delete-button:hover {
  color: #455A64;
  font-weight: 800;
  border-bottom: 1px solid #FFC107;
}

.buttons-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding: 5px 5px 0 5px;
  border-top: 1px solid #CFD8DC;
}

.read-button,
.delete-button {
  background: none;
  width: initial;
  border-bottom: 1px solid #F2F4F4;
  padding: 0;
  color: #455A64;
  cursor: pointer;
}

/*Classes to toggle in JS*/
.read {
  color: #F05A28;
  font-weight: 800;
  border: none;
}

.read-bookmark {
  background: #F2F4F4;
}


/*Media queries*/
@media screen and (min-width: 800px) {
  .input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100%;
  }
  .input-wrapper {
    width: 100%;
  }
  .main-header {
    font-size: 2.5em;
  }
  .linked-list-logo {
    width: 60px;
  }
  .bookmark-field {
    width: 50%;
    height: 100%;
  }
}
